:root {
  --title-color: #121212;
  --text-color: #656565;
  --button-bg-color: #ff5634;
  --button-active-color: #fff;
  --button-color: #121212;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", Helvetica sans-serif;
}

.container {
  /* box-sizing: border-box; */
  max-width: 1222px;
  /* min-width: 1101px; */
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER  */

.header {
  /* position: fixed; */
  width: 100%;
  /* min-width: 992px; */
  box-shadow: 0px 3px 12px 0px rgba(18, 18, 18, 0.06);
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 32px 15px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mob-button {
  display: none;
  cursor: pointer;
}

.menu {
  margin: 0 44px;
  transition: all 1.1s linear;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu__link {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
}

.menu__link:hover {
  color: #ff5634;
}

.menu__link_active {
  color: #ff5634;
}

.header__cart {
  position: relative;
  margin-right: 32px;
  color: var(--button-color);
  font-size: 16px;
  line-height: 1.12;
}

.header__cart::after {
  content: "(" attr(data-cart) ")";
}



.button-list {
 display: flex;
  align-items: center;
  gap: 27px;
}

.button {
  padding: 26px 39px;
  border: 1px solid;
  border-radius: 16px;
  background-color: transparent;
  font-size: 18px;
  line-height: 1.11;
  cursor: pointer;
}

.header__controls-wrapper {
 gap: 18px;
}

.button_register {
  border-color: var(--button-bg-color);
  background-color: var(--button-bg-color);
  color: var(--button-active-color);
}

.button_download {
  border-color: #ededed;
  background-color: var(--button-bg-color);
  color: var(--button-active-color);
}

.button_header-controls {
  padding: 19px 25px;
  border-radius: 12px;
  font-size: 16px;
}

.button_header-download {
  padding: 19px 29px;
  border: 1px solid #ededed;
  background: #fff;
  color: var(--button-color);
  line-height: 1.125;
  text-decoration: none;
}

.button_header-user {
  border: none;
  background: var(--button-bg-color);
  color: var(--button-active-color);
  letter-spacing: 0.5px;
}

@media (max-width: 1200px) {
  .header__mob-button {
    order: 4;
    display: block;
    margin-left: 18px;
  }

  .menu {
    display: none;
  }
}

/* DELIVERY */

.service {
  background: url(./images/service_bg.jpg) no-repeat 100% 0;

  padding: 100px 15px 120px 15px;
}

.service__content {
  display: flex;
  gap: 50px;
  max-width: 992px;
  padding: 60px 0;
}

.service__content_wrapper {
  /* display: flex;
  gap: 50px; */
}

.sub-title {
  margin: 0 0 28px 0;
  color: #ff5634;
  font-size: 18px;
  line-height: 1.11; /* 111.1% */
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.title {
  margin: 0;
  color: #121212;
font-size: 62px;
font-weight: 700;
line-height: 1.16; /* 116.1% */
}

.description {
  margin: 16px 0 0 0;
  color: #656565;
font-size: 12px;
line-height: 2.5; /* 250.05% */
}

.service__counter {
  display: flex;
  gap: 35px;
  margin: 60px 0 0 0;
  padding: 60px 0 0 0;
  border-top:1px solid #CACACA;
  list-style-type: none;
}

.service__counter-size {
  position: relative;
  margin: 0;
  color: #121212;
font-size: 56px;
font-weight: 700;
line-height: 1.17; 
}

.service__counter-size::after {
  content: '+';
  color: #FF5634;
font-size: 56px;
font-weight: 400;
line-height: 1.17; /* 117.9% */

}

.service__counter-description {
  margin-top: 5px;
  color: #656565;
  font-size: 18px;
  line-height: 1.11;
}

.service__img {
  margin-top: -39px;
  transition: transform 0.3s;
}

.service__img:hover {
  transform: translateY(-10px);
}